{% extends "::base.html.twig" %}



{% block body %}

    {% for message in app.session.flashbag.get('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <form action="{{ path('test_order_add') }}" method="post" {{ form_enctype(form) }} >

        {% if form_errors(form) %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        {% if form_errors(form.address) %}
            <div class="alert alert-danger">
                {{ form_errors(form.address) }}
            </div>
        {% endif %}

        {% if form_errors(form.orderLines) %}
            <div class="alert alert-danger">
                {{ form_errors(form.orderLines) }}
            </div>
        {% endif %}

        <span class="text-danger">{{ form_errors(form.reference) }}</span>
        <div class="input-group">
            {{ form_label(form.reference) }}
            {{ form_widget(form.reference) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.state) }}</span>
        <div class="input-group">
            {{ form_label(form.state) }}
            {{ form_widget(form.state) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.createDate) }}</span>
        <div class="input-group">
            {{ form_label(form.createDate) }}
            {{ form_widget(form.createDate) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.amount) }}</span>
        <div class="input-group">
            {{ form_label(form.amount) }}
            {{ form_widget(form.amount) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.tax) }}</span>
        <div class="input-group">
            {{ form_label(form.tax) }}
            {{ form_widget(form.tax) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.shipping) }}</span>
        <div class="input-group">
            {{ form_label(form.shipping) }}
            {{ form_widget(form.shipping) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.commission) }}</span>
        <div class="input-group">
            {{ form_label(form.commission) }}
            {{ form_widget(form.commission) }}
        </div><br>

        <span class="text-danger">{{ form_errors(form.currency) }}</span>
        <div class="input-group">
            {{ form_label(form.currency) }}
            {{ form_widget(form.currency) }}
        </div><br>

        {%  for address in form.address %}
            <div class="input-group">
                {{ form_label(address) }}
                {{ form_widget(address) }}
            </div><br>
        {% endfor %}

        <ul id="order-line-fields-list"
            data-prototype="{{ form_widget(form.orderLines.vars.prototype)|e }}">
            {% for orderLineField in form.orderLines %}
                <li>
                    {{ form_errors(orderLineField) }}
                    {{ form_widget(orderLineField) }}
                </li>
            {% endfor %}
        </ul>
        <a href="#" id="add-another-order-line" class="btn btn-info">Add another orderLine</a>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-primary">Add</button>

    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var orderLinesCount = '{{ form.orderLines|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-order-line').click(function(e) {
                e.preventDefault();

                var ordrLineList = jQuery('#order-line-fields-list');

                // grab the prototype template
                var newWidget = ordrLineList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, orderLinesCount);
                orderLinesCount++;

                // create a new list element and add it to the list
                var newLi = jQuery('<li></li>').html(newWidget+'<br>');
                newLi.appendTo(ordrLineList);
            });
        })
    </script>
{% endblock %}
